
:root{
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --headings-color: hsl(0, 0%, 57%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --transition: color 0.2s, background-color 0.2s ease-in-out;
    --box-shodow: 5px 0 15px rgb(0 0 0 /0.2);
}

body{
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    transition: var(--transition);
}

body.dark{
    --text-color: hsl(0, 0%, 83%);
    --headings-color: hsl(0, 0%, 76%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}

img{
    max-width: 100%;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
}

.switches{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toogle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
}

.toogle-theme__icon{
    color: var(--transition);
    margin-right: 0.5em;
}

.toogle-theme__text{
    font-size: 0.8rem;
}

.colors{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 100px;
}

.colors__item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
}

.colors__item--blue{
    --primary-color: hsl(214, 84%, 56%);
}

.colors__item--green{
    --primary-color: hsl(150, 84%, 56%);
}

.colors__item--purple{
    --primary-color: hsl(276, 84%, 56%);
}

.colors__item--orange{
    --primary-color:hsl(46, 84%, 56%) ;
}

.card-profile{
    background-color: var(--bg-card-color);
    width: 250px;
    padding: 1em;
    border-radius: 0.3em;
    transition: var(--transition);
    margin-bottom: 1em;
}

.card-profile__image-container{
    height: 200px;
    width: 250px;
    overflow: hidden;
    border-radius: inherit;
}

.card-profile__image{
    width: inherit;
    height: inherit;
    display: block;
    object-fit: cover;
    object-position: 0 0;
}

.title{
    font-size: 1.2rem;
    margin-bottom: 0.3em;
}

.subtitle{
    font-size: 0.9rem;
}

.icon{
    color: var(--text-color);
    margin-right: 0.4em;
}

.card-profile__info,
.card-profile__description{
    padding: 1em 0;
}

.card-profile__description{
    font-size: 0.8rem;
}

/* SKILLS  */

.skills{
    background-color: var(--bg-card-color);
    width: 250px;
    padding: 1em;
    border-radius: 0.3em;
    transition: var(--transition);
}

.skills__title{
    font-size: 1.2rem;
}

.skills__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.skills__tech{
    font-size: 0.8rem;
}

.skills__bar,
.skills__bar::after{
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.skills__bar::after{
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    left: -175px;
    transform-origin: left;
}

.skills__bar--60::after{
    transform: translateX(60%);
}

.skills__bar--50::after{
    transform: translateX(50%);
}

.skills__bar--90::after{
    transform: translateX(90%);
}
